<h2>Acceptance Testing</h2>

{{code-snippet name="testing-acceptance-test.js"}}

<h4>Imports</h4>

{{code-snippet name="testing-acceptance-test-imports.js"}}

{{code-snippet name="testing-acceptance-test-module.js"}}

{{code-snippet name="testing-acceptance-test-start-app.js"}}

{{code-snippet name="testing-acceptance-test/test.js"}}