{{testing-nav}}

<p class="lead">Interactions produce expected visual results.</p>

<hr>

<h4>Example</h4>

{{code-snippet name="testing-acceptance-test.js"}}

<hr>

<h4>Imports</h4>

{{code-snippet name="testing-acceptance-test-imports.js"}}

<hr>

<h4>Module</h4>

{{code-snippet name="testing-acceptance-test-module.js"}}

<hr>

<h4>startApp</h4>

{{code-snippet name="testing-acceptance-test-start-app.js"}}

<hr>

<h4>Helpers</h4>

{{code-snippet name="testing-acceptance-test-helpers.js"}}

<hr>

<h4>Run your first test</h4>

<p>
  {{#if message}}
      <span class="message">{{message}}</span>
  {{else}}
      <button class="btn btn-primary btn-sm" type="button" {{action 'go'}}>Go</button>
  {{/if}}
</p>

{{file-snippet classNames="margin-bottom" path="templates/testing/acceptance.hbs" snippet="testing-acceptance-test-first-test.hbs"}}

{{file-snippet classNames="margin-bottom" path="controllers/testing/acceptance.js" snippet="testing-acceptance-test-first-test-controller.js"}}

{{file-snippet classNames="margin-bottom" path="tests/acceptance/testing-acceptance-test.js" snippet="testing-acceptance-test-first-test.js"}}

{{#flash-message type="warn"}}
  <ol>
      <li>{{test-link module='Acceptance: TestingAcceptance' test='clicking on Go button shows Great Success!'}}</li>
      <li>Make the test run by changing it from `skip` to `test`.</li>
  </ol>
{{/flash-message}}

<hr>

<h4>Write your first test</h4>

<p>
    <label>My Input {{input classNames="my-first-test" value=my-input-value}}</label>
    <span class="my-output">{{my-input-value}}</span>
</p>


{{code-snippet name="testing-acceptance-test-write-test.hbs"}}

<br>

{{#flash-message type="warn"}}
  Write a test that will test for presence of inputted value in .my-output class.
{{/flash-message}}

<hr>

{{#link-to "testing.mocking" class="btn btn-primary"}}Next: Mocking API Requests{{/link-to}}